<!DOCTYPE html>
<html>
  <head>
    <title>Car Dealership App</title>
    {% extends 'employees/sidebar.html' %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tables-buttons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    {% block content %} {% endblock %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
